button {
  font-family: var(--mono);
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: black 1px solid;
  background-color: var(--button);
  color: var(--text-h);
  cursor: pointer;
  margin: 23px 4px;
}