-- 570. Managers with at Least 5 Direct Reports
-- Table: Employee

-- +-------------+---------+
-- | Column Name | Type    |
-- +-------------+---------+
-- | id          | int     |
-- | name        | varchar |
-- | department  | varchar |
-- | managerId   | int     |
-- +-------------+---------+
-- id is the primary key (column with unique values) for this table.
-- Each row of this table indicates the name of an employee, their department, and the id of their manager.
-- If managerId is null, then the employee does not have a manager.
-- No employee will be the manager of themself.
 
-- Write a solution to find managers with at least five direct reports.
-- Return the result table in any order.
-- The result format is in the following example.

--ANSWER :- https://leetcode.com/problems/managers-with-at-least-5-direct-reports/?envType=study-plan-v2&envId=top-sql-50

SELECT e.name
FROM Employee AS e 
INNER JOIN Employee AS m ON e.id = m.managerId 
GROUP BY m.managerId 
HAVING COUNT(m.managerId) >= 5

/*
1. `e.name` is not included in `GROUP BY`,
violating SQL standards (e.g., in strict mode
like MySQL’s `ONLY_FULL_GROUP_BY`).
2. Even if `e.id = m.managerId` is unique,
this is technically invalid in strict
SQL dialects (e.g., PostgreSQL).
3. Low performance. Why? Read below.
*/